################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/aspnet-core
/InventoryManagement/InventoryManagement.slnLaunch.user
